<h3 *ngIf="!loginStatus">Let's Login</h3>
<h3 *ngIf="loginStatus">Hello {{role}}</h3>

<mat-spinner style="margin:0 auto" *ngIf="loading" diameter="20"></mat-spinner>

<div *ngIf="!loginStatus">
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Role</mat-label>
      <input matInput #inputName type="text" placeholder="Who are you~?" (keyup.enter)="login(inputName.value)"
        (keyup.escape)="inputName.value=''" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete"></mat-autocomplete>
    </mat-form-field>
  </div>
  <button mat-stroked-button (click)="login(inputName.value)" color="primary">Login</button>
</div>

<button mat-stroked-button *ngIf="loginStatus" (click)="logout()" color="primary">Logout</button>
