.navbar {
  color: #fff;
  font-family: Roboto, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: .3px;
}

.nav-space {
  flex: 1 1 auto;
}

a{
  text-decoration: none;
}

.navbar.title {
  font-size: 20px;
  font-weight: 900;
}

.navbar.menu {
  font-size: 16px;
  font-weight: 400;

  padding: 20px 20px;
}
